body
{
        background-color:rgb(11, 11, 11);
  
}
.section
{
        padding:60px;
}

.home
{
   align-content: center;
   position:relative;      
}
.navbar{
        color:rgb(11, 7, 118);
        background-color: rgb(15, 5, 95);
        padding:4px 2px;
        margin:4px 0px;
        text-decoration: none;
}
.listitems
{
        
    font-size: 22px;
    display: flex;
    margin:9px 15px;
    /* padding:11px 20px; */
    align-items: center;
}
.navbar li a
{
        padding:41px 7px;
        margin:3px 14px;
        color:rgb(235, 229, 229);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
}

.navbar li a:hover
 {
        text-decoration: underline;
        color: rgb(9, 67, 72);
 }
 .img
 {      
        padding:50px 150px;
  
 }

      
 .detail
 {
       
        text-align:justify;
        padding:6px 110px;
        margin:4px 395px;
       border:1px solid red;
       color:rgb(98, 128, 0);
       font-size: 38px;
       font-weight: 300;
       font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       border-radius: 16px;
       background-color:wheat ;
       background-image: url("image.jpg");
 }
.about
{
        background-color: white;
}
.about .right img{
        height:600px;
        width:500px;
        object-fit: cover;
        border-radius: 12px;
}
.about .left .topic
{
        text-align: left;

}
.first{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
    font-size:50px;
    font-weight: bold;
    color:rgb(114, 6, 92);
    text-align: center;
    padding:5px 300px;   
}
.second
{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
        font-size:60px;
        color:rgb(113, 10, 20);
        text-align: center;
        padding:1px 480px;   
}
.third
{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
        font-size:30px;
        color:rgb(187, 196, 198); 
        text-align: center;
        background-color: rgb(15, 5, 95);
}


 
      